*{
    font-family: 'Trebuchet MS';
}
body{
    margin: 0;
}
#baner{
    width: 100%;
    height: 150px;
    background-color: rgb(180, 180, 180);
    font-size: 45px;
    float: left;
    box-sizing: border-box;
}
#tytul{
    position: absolute;
    right: 100px;
    top: -45px;
}
#nawigacja{
    width: 10%;
    height: 900px;
    background-color: rgb(39, 39, 39);
    float: left;
    box-sizing: border-box;
}
#kontent{
    width: 90%;
    height: 900px;
    background-color: rgb(48, 48, 48);
    float: left;
}
/*#ustawienia{
    width: 10%;
    height: 900px;
    background-color: rgb(70, 70, 70);
    float: left;
}*/
#ustawienia{
    height: 900px;
    width: 2%;
    background-color: rgb(70, 70, 70);
    position: absolute;
    right: 0px;
    top: 150px;
}
#ustawienia:hover{
    background-color: rgb(90, 90, 90);
    animation-name: animacjaUstawienia;
    animation-duration: 0.5s;
}
#administracja{
    width: 100px;
    height: 35px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: rgb(80, 80, 80);
    position: fixed;
    bottom: 0px;
    left: 50%;
}
#administracja:hover{
    background-color: rgb(100, 100, 100);
    animation-name: animacjaAdministracja;
    animation-duration: 0.5s;
}
@keyframes animacjaAdministracja{
    0%{height: 35px;}
    50%{height: 40px;}
    100%{height: 35px;}
}
@keyframes animacjaUstawienia{
    0%{width: 2%;}
    50%{width: 3%;}
    100%{width: 2%;}
}
a{
    color: rgb(160, 160, 160);
    text-decoration: none;
    font-size: 25px;
    margin-left: 13px;
}
a:hover{
    color: rgb(200, 200, 200);
}